body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#nome {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    background-color: #aaaaaa;
}

.contatosTopo {
    font-size: 15px;
    text-align: center;
    font-variant: small-caps;
}

.topico {
    text-indent: 25px;
    font-weight: bold;
    background-color: #dddddd;
    width: fit-content;
}

.lista {
    text-indent: 5px;
    font-weight: 500;
}

.lista b {
    color: darkblue;
}

.link {
    text-decoration: none;
    color: #0000ff;
}

.subTexto {
    font-variant: small-caps;
    font-weight: bold;
}
