body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

main {
    margin: auto;
    background-color: #222;
    width: 70%;
    min-width: 500px;
    color: #fff
}

main a:link {
    color: #fff
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #303030;
    width: 100%;
}

.header-data {
    width: 40%;
    height: 20vh;
    min-height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.header-data--contatos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-data--contatos p {
    margin: 0;
}

#conteudo {
    width: 100%;
}

#nome {
    margin: 0;
}